<h2>My Heroes</h2>


<div class="search-results" infiniteScroll (scrolled)="onScrollDown()">
  <ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
    <img class="badge" src="{{hero.imageUrl}}"/>
    <mat-card-title>
    {{hero.name}}
    </mat-card-title>
    <button class="delete" title="delete hero"
    (click)="delete(hero)">X
</button>
    </a>
 
  </li>
  </ul>
</div>

<div class="buttonadd">
<button mat-fab color='accent' aria-label="Add new hero" [routerLink]="['/new']">
<mat-icon>add</mat-icon>
</button>
</div>